* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: hsl(30, 38%, 92%);
}

.mobile-only{
  display:none;
}
.grand-content{
  display:grid;
  grid-template: repeat(12, 3rem) / repeat(26, 3rem);
  
}
.content{
  display:flex;
  flex-direction:row;
  flex:1 1;
  height:100%;
  grid-area: 3 / 8 / 12 / 20;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.product-type, .perfume-description, .old-price{
  font-size:14px;
  font-family:'Montserrat', sans-serif;
  font-weight:500;
  color:hsl(228, 12%, 48%);
}

#perfume-title, .new-price{
  font-family: 'Fraunces', serif;
  font-size:1.75rem;
}
.new-price{
  color: hsl(158, 36%, 37%);
  margin: .875rem 1.75rem .875rem 0;
}
.old-price{

 text-decoration: line-through;
}
.price-content{
  display:inline-flex;
  align-items: center;
}
#perfume-title{
  color: hsl(212, 21%, 14%);
  padding-top:10px;
}

.perfume-description{
  line-height:1.5rem;
}

button{
  width:100%;
  border:none;
  background-color: hsl(158, 36%, 37%);
  color:white;
  transition:.2s ease;
  padding:10px;
  border-radius: 8px;
}

button:hover{
  background-color:hsl(157, 37%, 22%)
}
.button-holder{
  display:flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart{
  font-family:'Montserrat', sans-serif;
  font-weight:700;
  font-size:.9rem;
  padding-left:.875rem;
  display:inline;
}


.left-content{
  height:100%;
  width:100%;

}

.right-content{
  display:flex;
  flex-direction: column;
  gap:.8rem;
  padding:0 2rem;

}
.button-holder{
  display:flex;
}


img{
  max-height:100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media screen and (max-width: 1050px){

  .content{
    grid-area: 2 / 4 / 12 / 16;

  }
  .right-content{

    gap:.3rem;
    padding:0 1.5rem;

}
}
@media screen and (max-width: 750px){

  .content{
    grid-area: 2 / 2 / 12 / 14;

  }
  .right-content{

    gap:.3rem;
    padding:0 1.5rem;

}
}


/* mobile */

@media screen and (max-width: 650px){
.desktop-only{
  display:none;
}
.mobile-only{
  display:block;
}


button{
  margin:0 0 10px 0;
  padding:10px 0;
  width:100%;
  border:none;
  background-color: hsl(158, 36%, 37%);
  color:white;
  transition:.2s ease;
  border-radius: 8px;
}
.button-holder{
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.grand-content{
    display:grid;
    grid-template: repeat(41, 2.5%) / repeat(20, 5%);
    max-height:550px;
    min-height:350px;
    
  }
  
  .content{
    display:flex;
    flex-direction:column;
    grid-area: 2 / 6 / 42 / 16;
    background-color: white;
    height:100%;
    justify-content: flex-start;
    
  }
  .left-content{
    display:flex;
  width:100%;

  overflow: hidden;

  justify-content: center;
  }
  
  .right-content{
   display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:0 1.5rem;
    height:500px;


}
  img{
    height:fit-content;
    width:100%;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }

  .product-type{
    margin-top:1rem;
  }
  .new-price{
   margin: 0.2rem 1rem 0.2rem 0;
  }
.attribution{
  margin-top:20px;
}
}